<div class="search-bar">
    <div class="main-search">
        <div class="coveo-logoo"></div>
        <div class="search-input-container">
            <input type="text" placeholder="Search..."/>
        </div>
        <div class="menu-actions">
            <a href="https://github.com/derek-meulmeester/coveo-saq-search"  target="_blank" rel="noopener">
                <i class="fa fa-github"></i>
            </a>
            <i class="fa fa-star"></i>
            <i class="fa fa-history"></i>
        </div>
    </div>
</div>
