/*
    Color Scheme
 */
body {
  height: 100%;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; }

.main-view {
  margin-left: 260px;
  padding: 0 20px; }

.home {
  position: relative; }

.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 250px;
  text-align: center;
  color: #FFF;
  font-size: 30px; }
  .overlay i {
    margin-left: 8px; }
  .overlay span {
    font-size: 20px; }
  .overlay .overlay-msg-container {
    padding: 30px;
    max-width: 110px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.65); }

.separator {
  margin: 2px 5px 0 10px;
  vertical-align: middle;
  color: #DDD; }

.btn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
  background-color: #DDD;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  outline: none; }

.btn.btn-small {
  padding: 5px 10px;
  font-size: 12px; }

.btn.disabled {
  pointer-events: none; }

.btn.btn-primary {
  background-color: #2650A3; }

.btn.btn-primary:hover {
  background-color: #123A89; }

.btn.btn-primary:active {
  background-color: #0A2B6C; }

.btn.btn-primary.disabled {
  background-color: #6787C5; }

.search-bar {
  z-index: 100;
  position: relative;
  padding: 10px 40px;
  background-color: #2650A3;
  color: #FFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }

.main-search {
  display: flex; }
  .main-search input {
    width: 100%;
    margin: 0 auto;
    max-width: 675px;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.15);
    color: #FFF;
    outline: none; }
  .main-search input:focus {
    background-color: #FFF;
    color: #000; }

.search-input-container {
  flex: 1;
  display: flex; }

.coveo-logoo {
  width: 200px;
  height: 35px;
  background-image: url(/coveo-saq-search/img/coveo-logo.svg);
  background-repeat: no-repeat; }

.menu-actions {
  width: 200px; }
  .menu-actions i {
    font-size: 25px;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    float: right; }
  .menu-actions i:active {
    background-color: #336ccc; }
  .menu-actions a {
    color: #FFF; }

::-webkit-input-placeholder {
  color: #FFF; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #FFF; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF; }

:-ms-input-placeholder {
  color: #FFF; }

.side-filter {
  float: left;
  width: 240px;
  height: 85vh;
  padding: 20px 10px;
  overflow-y: auto; }
  .side-filter .title {
    color: #0A2B6C;
    font-weight: bold;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px; }
  .side-filter ul {
    margin: 0;
    padding: 5px;
    list-style-type: none; }

.filter-category {
  padding: 15px;
  border-bottom: 1px solid #DDD; }

.checkbox-label {
  font-weight: 700;
  color: #5d5d5d; }

.product-list {
  overflow: auto;
  height: 70vh;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD; }

.product-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.product-card {
  flex-grow: 1;
  min-width: 300px;
  max-width: 400px;
  border: 1px solid #dadada;
  border-radius: 3px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #FFF;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  cursor: pointer; }
  .product-card h3 {
    color: #0A2B6C; }
    .product-card h3 small {
      color: #333; }
  .product-card i.fa.fa-star {
    color: #ffc71a; }

.product-card:hover {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24); }

.product-region {
  color: #484848; }

.product-details {
  display: flex; }

.product-thumbnail {
  height: 200px; }

.product-notes {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 3px;
  font-size: 12px; }

.checkbox-label {
  font-size: 12px; }

.product-list-empty {
  text-align: center;
  width: 100%;
  padding: 100px; }
  .product-list-empty h1 {
    color: #DDD;
    font-size: 100px;
    margin: 0; }
  .product-list-empty h2 {
    color: #d2d2d2; }

.breadcrumb-container {
  padding: 20px 5px;
  display: flex;
  align-items: baseline; }

.crumb-container {
  flex: 1; }

.crumb {
  display: inline;
  padding: 5px 10px;
  margin: 5px;
  background-color: #2650A3;
  border-radius: 5px;
  color: #FFF;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }
  .crumb i {
    cursor: pointer;
    margin-left: 5px; }

.showing {
  font-size: 12px;
  color: #6b6b6b;
  font-weight: 700; }

.paging-container {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center; }
  .paging-container button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    outline: none; }
  .paging-container .next {
    font-size: 24px;
    border-radius: 0 3px 3px 0; }
  .paging-container .prev {
    font-size: 24px;
    border-radius: 3px 0 0 3px; }

.page-info {
  margin: 0 10px;
  font-size: 13px;
  color: #6b6b6b; }
  .page-info b {
    font-size: 15px; }
